<ion-view view-title="Categories">

	<ion-header-bar class="bar-light bar item-input-inset bar-subheader">
	    <label class="item-input-wrapper search">
		  	<i class="icon ion-search placeholder-icon"></i>
		  	<input type="search" class="search-form" placeholder="Rechercher" ng-model="searchFilter.nom" ng-change="scrollTop()">
		</label>
		<button ng-if="searchFilter.nom.length"
		      class="button button-icon ion-android-close input-button"
		      ng-click="clearSearch()">
		</button>
	</ion-header-bar>
	<ion-content class="padding">
	    <ion-list>
	      	<ion-item class="item-remove-animate item-avatar item-icon-right card" collection-repeat="categorie in categories | filter:searchFilter | limitTo:numberOfItemsToDisplay"  type="item-text-wrap" ng-href="#/menu/cocktailCategorie/{{categorie.idCategorie}}">   
	      		<img class="resize" ng-src="{{categorie.img}}">
	        	{{categorie.nom}}
	        	<i class="icon ion-chevron-right icon-accessory"></i>       	
	      </ion-item>
	    </ion-list>
	   <ion-infinite-scroll on-infinite="addMoreItem()" distance="1%"></ion-infinite-scroll>
	</ion-content>

</ion-view>
