<ion-view view-title="{{cocktail.nom}}" >
  	<ion-content class="padding">
		<div class="row">
		    <div class="col col-40" ><img ng-src="{{image}}" style="max-width: 100% " align="middle"></div>
		    <div class="col col-60" >
			    <div class="item item-divider" id="popover">
					Ingrédients pour<br>{{cocktail.masse/10}} cl
				</div>
				<br>
				<p ng-repeat="ingredient in cocktail.ingredients" on-hold="detail(ingredient.nom)">
					<u><b>{{ingredient.nom | nomIngredient | majFirstLetter}} :</b></u> {{ingredient.dosage  | afficherDosage : cocktail.idCocktail}}
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col col-100">
		    	<div class="list">
					<div class="item item-divider">
						Présentation
					</div>
					<p ng-bind-html="cocktail.preparation | newlines">
					</p>
				</div>
			</div>
		</div>
  	</ion-content>
  	<ion-footer-bar class="bar bar-footer">
  		<div class="button-bar">
	  		 <a class="button button-positive icon-left ion-arrow-right-b" href="#/menu/preparer-cocktail/{{cocktail.idCocktail}}">Préparer</a>
			 <button id="favorisButton" class="button button-positive icon-left" ng-click="fav()">{{texte}}</button>
		</div>
	</ion-footer-bar>
</ion-view>
