<ion-view view-title="Rechercher par ingrédients">
  	<ion-content class="padding">
	    <div class="list">
		 	<a class="button button-positive button-full icon-left ion-erlenmeyer-flask" modal-select="" ng-model="ingModel" options="list" load-list-message="Chargement" on-select="ajoutIngredient(newValue, oldValue)" modal-title="Selectionne un ingredient" cancel-button="Annuler" hide-reset="true" has-search="true" >
				<div class="option">
					{{option}}
				</div>
				Ajouter un ingrédient
			</a>
		</div>

		<div ng-if="ingModel">
			<ion-list show-delete="true">
		      	<ion-item class="item-remove-animate item-icon-right" ng-repeat="ingredient in ingredients">
		        	<h2>{{ingredient.nom}}</h2>
		        	<ion-delete-button class="ion-close-round" ng-click="ingredients.splice($index, 1); rechercherParIngredient();">
		      </ion-item>

		    </ion-list>
	    </div>
	    <div ng-if="cocktails.length > 0">
	    	<br>
	    	<div class="item item-divider">
			    Cocktails recherchés
			 </div>
			<ion-list>
		      	<ion-item class="item-remove-animate item-avatar item-icon-right card" collection-repeat="cocktail in cocktails | orderBy:'nom' | limitTo:numberOfItemsToDisplay" type="item-text-wrap" ng-href="#/menu/cocktail/{{cocktail.idCocktail}}">
		      		<img ng-src="{{cocktail.images[0].path | pathimg}}">
		        	<h2>{{cocktail.nom}}</h2>
		        	<i class="icon ion-chevron-right icon-accessory"></i>
			     </ion-item>
		    </ion-list>
		    <ion-infinite-scroll on-infinite="addMoreItem()" distance="1%"></ion-infinite-scroll>
	    </div>
	</ion-content>
</ion-view>