<ion-view view-title="Créer un Cocktail">
  	<ion-content class="padding" on-tap="viderListe()">	    
	      
	    <div class="item item-divider item-positive">
    		Nom du cocktail
  		</div>

		<div class="list card">
			<label class="item-input">
				<span class="input-label">Nom</span>
				<input type="text" ng-keyup="getNom($event,Nom)" ng-model="Nom" >
			</label>
		</div>
		
	    <div class="item item-divider item-positive">
    		Les ingrédients à ajouter
  		</div>		
		
		<div class="list card">
			<label class="item-input">
				<span class="input-label">Ingrédient</span>
				<input id="IngredientUserText" type="text" ng-change="getIngredient($event,Ingredient)" ng-model="Ingredient">
			</label>
		
			<div compile="ListeIngredientsHTML"></div>	

			<label class=" item-input">
				<span class="input-label">Quantité</span>
				<input id="QuantiteUserText" type="number" ng-change="getQuantite($event,Quantite)" ng-model="Quantite">
				<span class="input-label" on-tap="showPopup()">{{Unite}}</span>
	   		</label>	
   		</div>

   		<button class="button button-block button-primary" ng-disabled="!(Quantite>0) || !Ingredient" on-tap="AjouterIngredient()">
			Ajouter
		</button>

		<p compile="ListeAjouteHTML"></p>	
					
		<div class="item item-divider item-positive">
			Catégorie du cocktail
		</div>		

		<div class="list card">
			<label class="item-input item-select">
			    <div class="input-label input-light">
	  		    	Catégorie
			    </div>
				<select ng-model="mySelect" ng-change="getCategorieId(mySelect)">	      
					<option value="0"> Cafés spéciaux </option>
					<option value="1"> Chocolats spéciaux </option>
					<option value="2"> Cocktails à la liqueur </option>
					<option value="3"> Cocktails à la tequila </option>
					<option value="4"> Cocktails à la vodka </option>
					<option value="5"> Cocktails au cognac </option>
					<option value="6"> Cocktails au rhum </option>
					<option value="7"> Cocktails au whisky </option>
					<option value="8"> Cocktails classiques </option>
					<option value="9"> Cocktails sans alcool </option>
					<option value="10"> Milk shakes </option>
					<option value="11"> Shooters </option>
					<option value="12"> Sirops </option>
					<option value="13"> Smoothies </option>
					<option value="14"> Vin & Champagne </option>
					<option selected value="15"> Mes cocktails </option>				
					<!--
					<option ng-repeat="categorie in allCategorie" value="{{categorie.id}}" >
					   	{{categorie.nom}}
					</option>	 
					-->   
				</select>
			</label>	
		</div>

		<div class="item item-divider item-positive">
    		Préparation du cocktail
  		</div>
  		<textarea rows="0" cols="0" ng-model="Preparation" ng-change="getPreparation($event,Preparation)" placeholder ="Préparation ..."></textarea>

		<div class="item item-divider item-positive">
    		Image du cocktail
  		</div>	
  				
		<button ng-click="getPhoto()" class="button button-block button-primary">Prendre une photo</button>
		<img ng-src="{{lastPhoto}}" style="max-width: 100% " align="middle">

            	  
		<a class="button button-block button-primary" on-tap="AjouterCocktail()" ng-disabled="!Nom || !Preparation || !mySelect" href="{{URL}}">
 			Terminer
		</a>

	</ion-content>
</ion-view>
