<ion-view view-title="Accueil" cache-view="false">

  <ion-content class="padding">
    <a class="button button-full button-positive icon-left ion-android-bar" href="#/menu/creer-cocktail">
      Créer un cocktail
    </a>
 
    <ion-list class="card inset">
      <div class="item item-divider">
        Dernier cocktails
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" collection-repeat="cocktail in cocktails | orderBy:'-dateDeModification' | limitTo:5" type="item-text-wrap" ng-href="#/menu/cocktail/{{cocktail.idCocktail}}">
        <img ng-src="{{cocktail.images[0].path | pathimg}}">
        <h2>{{cocktail.nom}}</h2>
        <p>{{cocktail.dateDeModification | date:mediumDate}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
