<ion-side-menus enable-menu-with-back-views="true">

    <ion-side-menu-content>
      <ion-nav-bar class="bar-positive nav-title-slide-ios7">
        <ion-nav-buttons side="left">
        <!-- Toggle left side menu -->
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="view-content"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">

      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Menu</h1>
      </ion-header-bar>
      <ion-content class="menu-screen">

        <!-- Profile Section -->
        <div class="profile-box" >
          <img ng-src="{{cocktail.images[0].path | pathimg}}" alt="" class="profile-box-thumb">
          <div class="profile-box-details">
          <a ng-href="#/menu/cocktail/{{cocktail.idCocktail}}" ng-click="toggleLeft()" animation="no-animation">
            <h4 class="profile-name brand-base-text-color"><b><u>{{cocktail.nom}}</u></b></h4>
          </a>
          </div>
        </div>
        <!-- End Profile Section -->


        <ul class="list">
          <a ui-sref="menu.home" nav-clear class="item item-icon-left" ng-click="toggleLeft()" animation="no-animation"><i class="icon ion-ios-home"></i>Accueil</a>
          <a ui-sref="menu.favourite" nav-clear class="item item-icon-left" ng-click="toggleLeft()" animation="no-animation"><i class="icon ion-ios-star"></i>Favoris</a>
           <a ui-sref="menu.cocktails" nav-clear class="item item-icon-left" ng-click="toggleLeft()" animation="no-animation"><i class="icon ion-ios-wineglass"></i>Cokctails</a>
          <a ui-sref="menu.creerCocktail" nav-clear class="item item-icon-left" ng-click="toggleLeft()" animation="no-animation"><i class="icon ion-android-bar"></i>Créer un cocktail</a>
        </ul>

        <!-- Group Header -->
        <h6 class="group-header">Rechercher par</h6>
        <!-- End Group Header -->
        <ul class="list">
          <a ui-sref="menu.categories" nav-clear class="item item-icon-left" ng-click="toggleLeft()" animation="no-animation"><i class="icon ion-ios-folder"></i>Catégories</a>
          <a ui-sref="menu.ingredient" nav-clear class="item item-icon-left" ng-click="toggleLeft()" animation="no-animation"><i class="icon ion-erlenmeyer-flask"></i>Ingrédients</a>
        </ul>

        <!-- Group Header -->
        <h6 class="group-header">Autres</h6>
        <!-- End Group Header -->
        <ul class="list">
          <a ui-sref="menu.settings" nav-clear class="item item-icon-left" ng-click="toggleLeft()" animation="no-animation"><i class="icon ion-gear-a"></i>Paramètres</a>
        </ul>

      </ion-content>

    </ion-side-menu>

</ion-side-menus>