<ion-view view-title="{{cocktail.nom}}">
  	<ion-content class="padding">
	    <div class="list">
			<div class="item item-divider">
				Préparation
			</div>
		</div>

		<div class="progress-wrapper">
            <div class="progress-text"> 
            	{{ingredientActuel.nom}} <br>
            	{{(masseActuelle/masseIngredient)*100 | number:0}} %
            </div>

            <div
                round-progress
                max="100"
                current="(masseActuelle/masseIngredient)*100"
                color="#A871B2"
                bgcolor="transparent"
                radius="{{ radius*1.5 }}"
                semi="isSemi"
                rounded="rounded"
                clockwise="clockwise"
                responsive="false"
                stroke="{{ stroke*1.5 }}"
                animation="{{ currentAnimation }}"
                offset="inherit">

                <div
                    round-progress
                    max="tailleIngredients"
                    current="nbI"
                    color="#1485CC"
                    bgcolor="transparent"
                    radius="{{ radius*1.5 }}"
                    semi="isSemi"
                    rounded="rounded"
                    clockwise="clockwise"
                    responsive="false"
                    stroke="{{ stroke*1.5 }}"
                    animation="{{ currentAnimation }}"
                    offset="inherit"></div>

            </div>
       	</div>
        <p><center>Prochain ingrédient : {{nextIngredient()}}</center></p>
  	</ion-content>
</ion-view>
