<ion-view view-title="Paramètres" cache-view="false">
  	<ion-content>
		<div class="list">
			<div class="item item-divider">
		    	Bluetooth
			</div>

			<a class="item item-icon-left" modal-select="" ng-model="blueModel" options="list" load-list-message="Chargement" on-select="saveMacBluetooth(newValue, oldValue)" modal-title="Selectionne le sous-bock" cancel-button="Annuler" hide-reset="true">
				<div class="option">
					{{option.name}}
					{{option.id}}
				</div>
				<i class="icon ion-ios-search-strong"></i>
				Appareillage du sous bock <br>
				Actuellement : {{bluePeriph}}
			</a>
        </div>
  	</ion-content>
</ion-view>
