<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy"/>
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/js/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <script src="lib/js/ionic-modal-select.min.js"></script>
    <script src="lib/js/roundProgress.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <!-- controllers js -->
    <script src="js/controller/home_controller.js"></script>
    <script src="js/controller/cocktails_controller.js"></script>
    <script src="js/controller/favourite_controller.js"></script>
    <script src="js/controller/categories_controller.js"></script>
    <script src="js/controller/cocktails_categorie_controller.js"></script>
    <script src="js/controller/settings_controller.js"></script>
    <script src="js/controller/creer_controller.js"></script>
    <script src="js/controller/cocktail_detail_controller.js"></script>
    <script src="js/controller/profile_controller.js"></script>
    <script src="js/controller/menu_controller.js"></script>
    <script src="js/controller/preparer_controller.js"></script>
    <script src="js/controller/cocktail_ingredient_controller.js"></script>
    <!-- services js -->
    <script src="js/services/categories_service.js"></script>
    <script src="js/services/cocktails_service.js"></script>
    <script src="js/services/ingredients_service.js"></script>
    <script src="js/services/localstorage_service.js"></script>
    <script src="js/services/utilisateurs_service.js"></script>
    <script src="js/services/bluetooth_service.js"></script>
    <!-- filters js -->
    <script src="js/filters.js"></script>

  </head>
  <body ng-app="starter">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
          <button ng-if="$root.showCustomBack" ng-click="$root.goBack()" class="button button-clear"><i class="icon ion-chevron-left"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view nav-transition="none"></ion-nav-view>
  </body>
</html>
